/* 
|| Global styles & custom css can be written here.
*/

/* Import tailwind base styles */
@tailwind base;

/* Import tailwind component styles */
@tailwind components;

/* Import tailwind utility styles */
@tailwind utilities;

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose blockquote {
  color: #243e63;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

@layer base {
  ul {
    @apply list-disc;
  }
}

.two-column-text{
  column-count: 2;
  column-width: auto;
}

.custom-search {
  position: relative;
  width: 400px;
}
.custom-search-input {
  width: 100%;
  border: 0;
  background-color: white;
  border-radius: 100px;
  padding: 10px 100px 10px 20px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}
.custom-search-botton {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border: 2px;
  border-style: solid;
  border-color: white;
  background: #1C58F8;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
}

.left-border{
  border-left: 2px;
  border-style: solid;
  border-color: #1C58F8;
}
.bttn1{
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;

}
.b1{
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
}
.b3{
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;

}

h1 {
  font-size: 72px;
  line-height: 88px;
  font-weight: 600;
  font-family: 'Outfit', sans-serif;
}
h2 {
  font-size: 64px;
  line-height: 72px;
  font-weight: 600;
  font-family: 'Outfit', sans-serif;
}
h3 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  font-family: 'Outfit', sans-serif;
}
caption.c1{
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  font-family: 'Outfit', sans-serif;
}
caption.c2{
   font-size: 18px;
   line-height: 32px;
  font-weight: 600;
   font-family: 'Outfit', sans-serif;
 }

caption.c3{
  font-size: 16px;
  line-height: 34px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Outfit', sans-serif;
}
.card{
  border-color: #EDF2F4;
}